/* LEGS */
/****************************************************************/

#leftLeg {
  position: fixed;
  bottom: 50px;
  left: 0px;
}

#rightLeg {
  position: fixed;
  bottom: 50px;
  left: -150px;
}

/* PATH */
/****************************************************************/

#path1, #path2, #path3, #path4 {
  position: fixed;
  left: -80px;
  bottom: 0px;
}

#path1 { visibility: visible; }
#path2 { visibility: hidden; }
#path3 { visibility: hidden; }
#path4 { visibility: hidden; }

/* YELLOW */
/****************************************************************/

#yellow {
  text-align: center;
  padding: 3rem;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fee624;
  opacity: 0;
  pointer-events: none;
}

/* BONE */
/****************************************************************/

#bone {
  position: fixed;
  bottom: 50px;
  left: 0px;
  visibility: hidden;
}

/* HAND */
/****************************************************************/

#hand, #handGrab {
  position: fixed;
  top: -900px;
  left: -100px;
}

#handGrab { visibility: hidden; }

/* SCORE */
/****************************************************************/

#score {
  position: fixed;
  top: 60px;
  left: 1250px;
  font-size: 100px;
  user-select: none;
  color: white;
}