/* LEGS */
/****************************************************************/

#leftLeg {
  position: fixed;
  bottom: 50px;
  left: 80px;
  /* left: -120px;  */
}

#rightLeg {
  position: fixed;
  bottom: 50px;
  left: -200px;
  /* left: -50px; */
}


/* PATH */
/****************************************************************/

#path1, #path2, #path3, #path4 {
  position: fixed;
  left: -80px;
  bottom: 30px;
}

#path1 { visibility: visible; }
#path2 { visibility: hidden; }
#path3 { visibility: hidden; }
#path4 { visibility: hidden; }


/* YELLOW */
/****************************************************************/

#yellow {
  text-align: center;
  padding: 3rem;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  opacity: 0;
  pointer-events: none;
}

/* BONE */
/****************************************************************/

#bone {
  position: fixed;
  bottom: 50px;
  left: -60px;
  width: 1820px;
  height: 980px;
  visibility: hidden;

  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  100% { bottom: 650px }
}

/* HAND */
/****************************************************************/

#hand {
  position: fixed;
  top: -900px;
  left: -100px;
}

/* SCORE */
/****************************************************************/

#score {
  position: fixed;
  top: 60px;
  left: 1350px;
  font-size: 100px;
  user-select: none;
  color: white;
}