
/* LEGS */
/****************************************************************/

#leftLeg, #rightLeg {
  position: fixed;
  bottom: 50px;
  visibility: hidden;
}

#leftLeg { left: -50px; }
#rightLeg { left: -150px; }

/* STEPS */
/****************************************************************/

#steps1, #steps2, #steps3, #steps4 {
  position: fixed;
  left: -80px;
  bottom: 40px;
  visibility: hidden;
}

/* BONE */
/****************************************************************/

#bone {
  position: fixed;
  bottom: 40px;
  left: -10px;
  visibility: hidden;
}

/* HAND */
/****************************************************************/

#hand, #handGrab {
  position: fixed;
  top: -900px;
  left: -100px;
  visibility: hidden;
}

/* SCORE */
/****************************************************************/

#score {
  position: fixed;
  top: 60px;
  left: 1300px;
  font-size: 100px;
  user-select: none;
  color: var(--yellow);
  text-shadow: 0 0 4px var(--black);
}
