* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

/* MENU */
/****************************************************************/

#header {
  color: white;
  font-size: 50px;
}

#startButton {
  font-size: 25px;
}

/* FRAME */
/****************************************************************/

#frame {
  position: fixed;
  width: 1500px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#top, #bottom, #left, #right {
	background: black;
	position: fixed;
  z-index: 1;
}

#left, #right {
  top: 0; bottom: 0;
  width: 50px;
}
#left { left: 0; }
#right { right: 0; }
  
#top, #bottom {
  left: 0; right: 0;
  height: 50px;
}
#top { top: 0; }
#bottom { bottom: 0; }


/* BACKGROUND */
/****************************************************************/

#game {
  /* position: fixed;
  width: 1500px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  padding: 5rem;
}

#background1, #background2 {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#background2 {
  animation: backgroundGlimmer 3s linear infinite;
}

@keyframes backgroundGlimmer {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* SCREEN */
/****************************************************************/

#screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}